@{
    ViewBag.Title = "Pagina inicial";
}

<div id="content-wrapper" class="mui--text-center">
    <div class="mui--appbar-height"></div>
    <br>
    <br>
    <div class="mui--text-display3">Produtos</div>
    <br>
    <br>
    <button class = "mui-btn mui-btn--raised">IR PARA A LISTA</button>
</div>
